* {
  $bills: hsl(348, 89%, 41%);
  $pittsburgh: hsl(42, 100%, 54%);
  $greenBay: hsl(160, 33%, 14%);
  $jacksonville: hsl(189, 100%, 24%);
  $seattle: hsl(94, 65%, 45%);
  $baltimore: hsl(241, 58%, 24%);
  $miami: hsl(184, 100%, 30%);
  $Minnesota: hsl(266, 55%, 33%);
  $chicago: hsl(16, 97%, 40%);
}

.TreeMap {
  background-color: cadetblue;
  width: 100%;
  height: 100vh;

  &-display-container {
    .box-container {
      position: relative;
      height: 46rem;
      width: 40rem;
      margin-inline: auto;
      background-color: #9f9f9f;
      border: 1px solid black;
      border-radius: 0.5rem;
      overflow: hidden;

      .playerBox {
        position: absolute;
        color: black;
        border: 1px solid black;

        .player-yards {
          font-size: 2.8rem;
          font-weight: bold;
        }

        .player-name {
          font-size: 2;
        }
      }
    }
  }
}
